<%- include("partials/header") %>

<a href="/allbooks">All Books</a>
<a href="/add">Add a New Book</a>

<% booknotes.forEach(booknote => { %>
<div class="booknote-item">
  <a href="/book/<%=booknote.bookid%>"
    ><h2><%=booknote.title%> - By <%=booknote.author%></h2></a
  >
  <img src="<%=booknote.coverurl %>" alt="<%= booknote.title %>" />
  <p>Date Read: <%=booknote.dateread%>.</p>
  <p>How Strongly I Recommend it: <%=booknote.rate%>/10</p>
  <p><%=booknote.summary%></p>
  <a href="/book/<%=booknote.bookid%>">Read my notes</a>
</div>
<% }); %> <%- include("partials/footer") %>
